<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Team Member</h3>
            <div class="subheading mb-3">Camden Dairy Queen</div>
            <p>Experience in food service has left me with essential skills for the workplace, such as conflict de-escelation and working as a team.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2013 - Present</span>
          </div>
        </div>


      </div>

    </section>